@font-face {
  font-family: poppinsRegular;
  src: url("./fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: poppinsSemiBold;
  src: url("./fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: poppinsBold;
  src: url("./fonts/poppins/Poppins-Bold.ttf");
}

$bg-color: #f8fafd;

// Fonts
$poppinsRegular: poppinsRegular;
$poppinsSemiBold: poppinsSemiBold;
$poppinsBold: poppinsBold;

body {
  margin-top: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: $poppinsRegular;
}
